<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.rpg"
    android:versionCode="1"
    android:versionName="1.0" >


    <application
        android:name=".core.RPGApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.SplashActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.HomeActivity"/>
        <activity android:name=".activities.FighterActivity"/>
        <activity android:name=".activities.ActionActivity"/>
        <activity android:name=".activities.FighterActionActivity"/>
        <activity android:name=".activities.StateActivity"/>
        <activity android:name=".activities.FighterStateActivity"/>
        <activity android:name=".activities.FighterBagActivity"/>
        <activity android:name=".activities.FighterStoreActivity"/>
        <activity android:name=".activities.FightingActivity"/>
    </application>

</manifest>
